# Ignore node_modules (dependencies will be installed during the build)
node_modules/

# Expo-related files (temporary files, build artifacts)
.expo/
dist/
web-build/
expo-env.d.ts

# Native files (sensitive credentials)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro-related files
.metro-health-check*

# Debug logs (npm, yarn, etc.)
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS-related files
.DS_Store
*.pem

# Local environment files
.env*.local

# TypeScript build info
*.tsbuildinfo

# Any other files you don't need to include in the build
*.log
